<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top surfheading">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Feed")">
                <img src="@Url.Content("~/Content/Images/Logo.jpg")", height="50" /></a>

                <!-- @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right" style="display:inline">

                    @if (Session["UserId"] != null)
                    {
                    <li>


                        @{
                            var photo = Session["Photo"];

                            if (photo != null)
                            {
                                var url = string.Format("~/Content/Images/Uploads/{0}.jpg", photo);
                                <img src=@Url.Content(photo.ToString()) height="25" />
                            }
                        }

                        @Session["Nickname"]
                        <!--@Html.ActionLink("Выйти", "Logout", "Home")-->
                        <a href="@Url.Action("Logout", "Home")">
                            <img src="@Url.Content("~/Content/Images/Exit.jpg")" , height="25" />
                        </a>
                    </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Войти", "Index", "Home")</li>
                        <li>@Html.ActionLink("Регистрация", "Index", "Register")</li>
                    }



                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
